<div class="root">
  <video #video [srcObject]="stream" (loadedmetadata)="play()" [muted]="true"></video>
  <div class="container" id="scoreboard-timer">
    <div [ngStyle]="scoreStyle" id="score">
      <div [ngStyle]="rowStyle"><span *ngIf="!!home" [ngStyle]="scoreItemStyle" class="text">{{home.points}}</span>
      </div>
      <div [ngStyle]="rowStyle"><span *ngIf="!!away" [ngStyle]="scoreItemStyle" class="text">{{away.points}}</span>
      </div>
    </div>
    <div [ngStyle]="teamsStyle" id="teams">
      <div [ngStyle]="rowStyle"><span *ngIf="!!home" [ngStyle]="teamItemStyle" class="text">{{home.name}}</span></div>
      <div [ngStyle]="rowStyle"><span *ngIf="!!away" [ngStyle]="teamItemStyle" class="text">{{away.name}}</span></div>
    </div>
    <div [ngStyle]="circleStyle" id="timer">
      <div [ngStyle]="rowStyle"><span [ngStyle]="timerItemStyle" *ngIf="!!period" class="text">{{period}}</span></div>
      <div [ngStyle]="rowStyle">
        <div [ngStyle]="timerItemStyle" class="text time">
          <span *ngIf="!!timer">{{timer.minutes}}</span>
          <span>:</span>
          <span *ngIf="!!timer">{{timer.seconds}}</span>
        </div>
      </div>
    </div>
  </div>
  <div id="message" class="message" >
    <div *ngIf="!!(message$|async)" class="message-title">{{(message$|async).title}}</div>
    <div *ngIf="!!(message$|async)" class="message-body">{{(message$|async).detail}}</div>
  </div>
</div>
