<div [formGroup]="streamingForm">
  <div class="p-grid p-mt-4">
    <div class="p-field p-col">
      <span class="p-float-label">
        <p-dropdown id="videosources" [options]="videoSources$|async" optionLabel="label" optionValue="deviceId" (onChange)="setVideoSource($event)"></p-dropdown>
        <label for="videosources">Video source</label>
      </span>
    </div>
    <div class="p-field p-col"><span class="p-float-label">
        <p-dropdown id="audiosources" [options]="audioSources$|async" optionLabel="label" optionValue="deviceId" (onChange)="setAudioSource($event)"></p-dropdown>
        <label for="audiosources">Video source</label>
      </span>
    </div>
  </div>
  <div class="p-d-flex p-jc-between">
    <p-checkbox label="Stream to YouTube" formControlName="youtube" binary="true" [style.margin]="0">
    </p-checkbox>
    <span class="p-float-label">
      <input id="ytKey" type="text" pInputText formControlName="ytKey">
      <label for="ytKey">Stream key</label>
    </span>
  </div>
  <div class="p-d-flex p-jc-between p-mt-3">
    <p-checkbox label="Save video locally" formControlName="saveLocal" binary="true" [style.margin]="0">
    </p-checkbox>
    <button pButton [disabled]="streamingForm.invalid" icon="pi pi-play" class="p-button-success" label="Stream"
      (click)="stream()" *ngIf="!streaming"></button>
    <button pButton icon="pi pi-stop" class="p-button-danger" label="Stop streaming" (click)="stopStreaming()"
      *ngIf="streaming"></button>
  </div>
</div>
